<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style/style-nav.css">
    <link rel="stylesheet" href="/style/main_page.css">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
</head>

<!-------------------------- NAVIGACE -------------------------------->
<body>
  <% if(!userLogged) { %>
    <header>
      <img src="/images/logo.png" onclick=HomePage() alt="logo" class="logo" width="200" height="50">
      <input type="checkbox" id="nav-toggle" class="nav-toggle">
      <nav>
        <ul>
          <li><a href="/">Dom콢</a></li>
          <li><a href="/faculty">Naj칤t t칳m</a></li>
          <li><a href="/register">칔캜et</a></li>
        </ul>
      </nav>
      <label for="nav-toggle" class="nav-toggle-label"><span></span></label>
    </header>

  <% } if(userLogged) { %>
    <header>
      <img src="/images/logo.png" onclick=HomePage() alt="logo" class="logo" width="200" height="50">
      <input type="checkbox" id="nav-toggle" class="nav-toggle">
      <nav>
        <ul>
          <li><a href="/">Dom콢</a></li>
          <li><a href="/subject/<%=userFaculty%>">Naj칤t t칳m</a></li>
          <li><a href="/my_profile">칔캜et</a>
            <ul class="dropdown" id="dropdown">
              <li><a class="dropdown_item" href="/my_profile">M콢j 칰캜et</a></li>
              <li><a class="dropdown_item" href="/team/myTeams">Moje t칳my</a></li>
              <li><a class="dropdown_item" data-method="delete" href="/logout">Odhl치sit se</a></li>
            </ul>
          </li>
          
      <!-- NOTIFIKACNI LISTA START -->
          <li><a id="notif" href="#">Notifikace</a>
            <ul class="dropdown-news" id="dropdown-news">
              <form id="notifForm">
                <button type="submit" class="clear-btn_index">Vy캜istit</button>
              </form>
              <%notification.forEach((notifi, index)=> {%>
                <p class="dropdown_item-news dropdown_item-time">
                  <%= notifi.createdAt %>
                </p>
                <p class="dropdown_item-news">
                  <%= notifi.notification %>
                </p>
                <%})%>
            </ul>
          </li>

          <script>
            async function notification(event) {
              const response = await fetch("/notification/deleteAll", {
                method: "POST",
                redirect: 'follow',
                headers: {
                  'Accept': 'application/json',
                  'Content-Type': 'application/json'
                },
              });
              if (response) {
                let error = await response.json()
                alert(error.message);
              }
              window.location.href = ''
            }

            const notifiForm = document.querySelector('#notifForm');
            notifiForm.addEventListener('submit', notification);
          </script>
      <!-- NOTIFIKACNI LISTA END -->
        </ul>
      </nav>
      
      
      <label for="nav-toggle" class="nav-toggle-label"><span></span></label>
      <!-- NOTIFIKACNI LISTA START (mobilni) -->
      <input type="checkbox" id="nav-toggle_notify" class="nav-toggle_notify">
      <label for="nav-toggle_notify" class="nav-toggle-label_notify"><span>游댒</span></label>
      <nav class="nav_notify">
        <ul class="dropdown-news" id="dropdown-news">
          <a id="notif" href="#"></a>
          <form id="notifFormMobil">
            <button type="submit" class="clear-btn_index">Vy캜istit</button>
          </form>
          <%notification.forEach((notifi, index)=> {%>
            <p class="dropdown_item-news dropdown_item-time">
              <%= notifi.createdAt %>
            </p>
            <p class="dropdown_item-news">
              <%= notifi.notification %>
            </p>
            <%})%>
        </ul>
      </nav>

      <script>
        async function notification(event) {
          const response = await fetch("/notification/deleteAll", {
            method: "POST",
            redirect: 'follow',
            headers: {
              'Accept': 'application/json',
              'Content-Type': 'application/json'
            },
          });
          if (response) {
            let error = await response.json()
            alert(error.message);
          }
          window.location.href = ''
        }
        const notifiFormMobile = document.querySelector('#notifFormMobil');
        notifiFormMobile.addEventListener('submit', notification);
      </script>
      <!-- NOTIFIKACNI LISTA END (mobilni) -->
    </header>
    <% } %>
<!-------------------------- KONEC NAVIGACE -------------------------------->

    <!-- https://www.youtube.com/watch?v=4qnWreynXLU -->
    <div class="info">
      <div class="info_container">
      <ul class="top_content">
          <li class="text_content">
              <h2 class="title">Nem치코 t칳m?</h2>
              <p class="text_text">Pomoc칤 TeamMe m콢쬰te snadno vytv치콏et t칳my do jak칠hokoliv p콏edm캩tu na kter칠koliv fakult캩 VUT.</p>
              <div class="start_button_container">
                  <!-- <button type="submit" class="start_button">Za캜칤t</button> -->
                  <% if(!userLogged) { %>
                    <form class="beginBtnForm" method="get" action="/register">
                      <button type="submit" class="start_button">Za캜칤t</button>
                    </form>
                  <% } if(userLogged) { %>
                    <form class="beginBtnForm" method="get" action="/faculty">
                      <button type="submit" class="start_button">Za캜칤t</button>
                    </form>
                  <% } %>
              </div>
          </li>
          <li class="back_pic_container">
              <span class="back_pic"></span>
          </li>
      </ul>

      <div class="faq_title">FAQs</div>
      <div class="faqs">
        <div class="faq">
          <div class="question">
            <h3>Pouze VUT?</h3>
            <svg width="15" height="10" viewBox="0 0 42 25">
              <path d="M3 3L21 21L39 3" stroke="black" stroke-width="7"/>
            </svg>
          </div>
          
          <div class="answer">
            <p>
              V aktu치ln칤 dob캩 aplikace podporuje pouze fakulty VUT. Roz코칤콏en칤 pro dal코칤 vysok칠 코koly se pl치nuje.
            </p>
          </div>
        </div>

        <div class="faq">
          <div class="question">
            <h3>Pro캜 se registrovat?</h3>
            <svg width="15" height="10" viewBox="0 0 42 25">
              <path d="M3 3L21 21L39 3" stroke="black" stroke-width="7"/>
            </svg>
          </div>
          
          <div class="answer">
            <p>
              TeamMe d치v치 smysl p콏edev코칤m pro registrovan칠 u쬴vatele. Oproti jin칳m platform치m se t칳my u쬴vateli zobrazuj칤 na z치klad캩 shod ve vlastnostech (p콏칤stup k pr치ci, pracovn칤 doba).
            </p>
          </div>
        </div>

        <div class="faq">
          <div class="question">
            <h3>Spr치va t칳m콢 a 칰캜tu?</h3>
            <svg width="15" height="10" viewBox="0 0 42 25">
              <path d="M3 3L21 21L39 3" stroke="black" stroke-width="7"/>
            </svg>
          </div>
          
          <div class="answer">
            <p>
              Jako tv콢rce t칳mu m치te opr치vn캩n칤 m캩nit informace o t칳mu. 
              Kontrolu nad spr치vou 캜len콢 m치te 72 hodin od jejich p콏id치n칤, 캜lenov칠 v코ak z t칳mu mohou odej칤t kdykoliv.
            </p>
          </div>
        </div>

        <div class="faq">
          <div class="question">
            <h3>Jak t칳m smazat?</h3>
            <svg width="15" height="10" viewBox="0 0 42 25">
              <path d="M3 3L21 21L39 3" stroke="black" stroke-width="7"/>
            </svg>
          </div>
          
          <div class="answer">
            <p>
              T칳m lze smazat v p콏칤pad캩, 쬰 jste jeho spr치vcem a v t칳mu nen칤 쮂멳n칳 dal코칤 캜len krom캩 v치s.
            </p>
          </div>
        </div>

        <div class="faq">
          <div class="question">
            <h3>Nep콏i코el potvrzovac칤 e-mail?</h3>
            <svg width="15" height="10" viewBox="0 0 42 25">
              <path d="M3 3L21 21L39 3" stroke="black" stroke-width="7"/>
            </svg>
          </div>
          
          <div class="answer">
            <p>
              Pokud do 20 minut nep콏i코el e-mail pro ov캩콏en칤 p콏i registraci, kontaktujte n치s na Discordu (odkaz) a situaci vy콏e코칤me.
            </p>
          </div>
        </div>

        <div class="faq">
          <div class="question">
            <h3>Nev칤te si rady?</h3>
            <svg width="15" height="10" viewBox="0 0 42 25">
              <path d="M3 3L21 21L39 3" stroke="black" stroke-width="7"/>
            </svg>
          </div>
          
          <div class="answer">
            <p>
              M치te dotaz, kter칳 zde nen칤 zodpov캩zen? Kontaktujte n치s na Discordu (odkaz) a situaci vy콏e코칤me.
            </p>
          </div>
        </div>
      </div>  
    </div>
  </div>

<script src="/script/main_page.js"></script>
<script src="/script/app.js"></script>

</body>
</html>