<!DOCTYPE html>
<html lang="cs">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/style/style-nav.css">
  <link rel="stylesheet" href="/style/my_teams.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <% if(!userLogged) { %>
    <header>
      <img src="/images/logo.png" onclick=HomePage() alt="logo" class="logo" width="200" height="50">
      <input type="checkbox" id="nav-toggle" class="nav-toggle">
      <nav>
        <ul>
          <li><a href="/">Domů</a></li>
          <li><a href="/faculty">Najít tým</a></li>
          <li><a href="/register">Účet</a></li>

        </ul>
      </nav>
      <label for="nav-toggle" class="nav-toggle-label"><span></span></label>

    </header>
    <% } if(userLogged) { %>
      <header>
        <img src="/images/logo.png" onclick=HomePage() alt="logo" class="logo" width="200" height="50">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
          <ul>
            <li><a href="/">Domů</a></li>
            <li><a href="/faculty">Najít tým</a></li>
            <li><a href="/my_profile">Účet</a>
              <ul class="dropdown" id="dropdown">
                <li><a class="dropdown_item" href="/my_profile">Můj účet</a></li>
                <li><a class="dropdown_item" href="/team/myTeams">Moje týmy</a></li>
                <li><a class="dropdown_item" data-method="delete" href="/logout">Odhlásit se</a></li>
              </ul>
            </li>
            <!-- NOTIFIKACNI LISTA START -->
            <li><a id="notif" href="#">Notifikace</a>
              <ul class="dropdown-news" id="dropdown-news">
                <form id="notifForm">
                  <button type="submit" class="clear-btn_index">Vyčistit</button>
                </form>
                <%notification.forEach((notifi, index)=> {%>
                  <p class="dropdown_item-news">
                    <%= notifi.notification %>
                  </p>
                  <%})%>
              </ul>
            </li>
            <script>
              async function notification(event) {
                const response = await fetch("/notification/deleteAll", {
                  method: "POST",
                  redirect: 'follow',
                  headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                  },
                });
                if (response) {
                  let error = await response.json()
                  alert(error.message);
                }
                window.location.href = ''
              }

              const notifiForm = document.querySelector('#notifForm');
              notifiForm.addEventListener('submit', notification);
            </script>
            <!-- NOTIFIKACNI LISTA END -->
          </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label"><span></span></label>

        <!-- NOTIFIKACNI LISTA START (mobilni) -->
        <input type="checkbox" id="nav-toggle_notify" class="nav-toggle_notify">
        <label for="nav-toggle_notify" class="nav-toggle-label_notify"><span>🔔</span></label>
        <nav class="nav_notify">
          <ul class="dropdown-news" id="dropdown-news">
            <a id="notif" href="#"></a>
            <form id="notifFormMobil">
              <button type="submit" class="clear-btn_index">Vyčistit</button>
            </form>
            <%notification.forEach((notifi, index)=> {%>
              <p class="dropdown_item-news">
                <%= notifi.notification %>
              </p>
              <%})%>
          </ul>
        </nav>
        <script>
          async function notification(event) {
            const response = await fetch("/notification/deleteAll", {
              method: "POST",
              redirect: 'follow',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
            });
            if (response) {
              let error = await response.json()
              alert(error.message);
            }
            window.location.href = ''
          }

          const notifiFormMobile = document.querySelector('#notifFormMobil');
          notifiFormMobile.addEventListener('submit', notification);
        </script>
        <!-- NOTIFIKACNI LISTA END (mobilni) -->
      </header>
      <% } %>
        <!-- ==================================================================== -->
        <div class="content">
          <div class="content_container">
            <ul class="title_container">
              <li class="title">Moje týmy</li>
            </ul>
            <div id="find_con_phone"></div>


            <% shareTeamInfo.forEach((teamInfo)=> { %>
                <div class="team_border" id="team_border">
                  <label class="faculty_label" for="team_border">
                    <%=teamInfo[1]%>
                  </label>
                  <div class="team_list" id="team_list">
                    <% for (let i=2; i < teamInfo.length; i++) { %>
                        <!-- <div class="team_list" id="team_list"> -->
                          <a class="team_middle" href="
                          <%=teamInfo[0]%>/<%=teamInfo[i]['team'].SubjectId%>/info/<%=teamInfo[i]['team'].name%>
                          ">
                            <ul class="team_divider">
                              <div class="team_row">
                                <li class="team_name"><%=teamInfo[i]['team'].name%></li>
                                <li class="members">
                                  <span class="member_container">
                                    <span class="head"></span>
                                    <span class="body"></span>
                                  </span>
                                  <div class="amount">
                                    <%=teamInfo[i]['joinedMem']%>/<%=teamInfo[i]['team'].maxNumberOfMembers%>
                                  </div>
                                </li>
                                <li class="team_subject"><%=teamInfo[i]['subject']%></li>
                              </div>
                              <div class="team_row">
                                <div class="team_keywords">#: <%=teamInfo[i]['team'].hashtags%></div>
                              </div>
                            </ul>
                          </a>
                        <!-- </div> -->
                        <hr class="row">
                        <% } %>
                  </div>
                </div>
                <% }) %>


          </div>
        </div>

        <script src="/script/teams.js"></script>

        <!-- aplikace filtru -->
        <script>
          async function filterFunc(event) {
            OpenFilter();
            event.preventDefault();
            const data = new FormData(event.target);
            const value = JSON.stringify(Object.fromEntries(data));

            selectValue = "?partOfSemester=" + document.getElementById("year").value;
            const response = await fetch(selectValue, {
              method: "GET",
              redirect: 'follow',
            });

            if (response) {
              window.location.href = response.url
            }
          }
          var formFilter = document.querySelector('#filterButtonClick');
          if (formFilter)
            formFilter.addEventListener('submit', filterFunc);
        </script>

</body>
<script src="/script/app.js"></script>

</html>