<!DOCTYPE html>
<html lang="cs">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/style/style-nav.css">
  <link rel="stylesheet" href="/style/main_page.css">
  <link rel="stylesheet" href="/style/team.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  
  <script src="/script/nav.js"></script>

  <div class="content">
    <div class="content_container">
      <div class="form-box">
        <h2 class="team-title">Informace o týmu</h2>
        <table class="content-table">
          <tbody>
            <tr>
              <td><b>Název týmu</b></td>
              <td>
                <%= team.name %>
              </td>
            </tr>
            <tr class="active-row">
              <td><b>Cílový počet členů</b></td>
              <td>
                <%= team.maxNumberOfMembers %>
              </td>
            </tr>
            <tr>
              <td><b>Uživatelská jména členů</b></td>
              <td>
                <% teamMembers.forEach((member, index)=> { %>
                  <li class="loginLi">
                    <%= member.login %>
                  </li>
                  <% }) %>
              </td>
            </tr>
            <tr>
              <td><b>Vedoucí týmu</b></td>
              <td>
                <%=teamAdmin.login%>
              </td>
            </tr>
            <tr>
              <td><b>Stručný popis</b></td>
              <td>
                <%= team.briefDescription %>
              </td>
            </tr>
            <tr>
              <td><b>Klíčová slova</b></td>
              <td>
                <%= team.hashtags %>
              </td>
            </tr>
            <tr>
              <td><b>Preferovaná doba práce</b></td>
              <td>
                <% let hours=''; switch(team.workingHours) { case 1: hours='brzy ráno' ; break; case 2:
                  hours='dlouho do noci' ; break; case 3: hours='během dne' ; break; default: hours='Nedefinováno' ;
                  break; } %>
                  <%= hours %>
              </td>
            </tr>
            <tr>
              <td><b>Preferované dny práce</b></td>
              <td>
                <% let days=''; switch(team.workingDays) { case 1: days='začátek týdne' ; break; case 2:
                  days='konec týdne' ; break; case 3: days='víkend' ; break; default: days='Nedefinováno' ; break; } %>
                  <%= days %>
              </td>
            </tr>
            <tr>
              <td><b>Přístup k práci</b></td>
              <td>
                <% let approach=''; switch(team.approach) { case 1: approach='týmový' ; break; case 2:
                  approach='individuální' ; break; default: approach='Nedefinováno' ; break; } %>
                  <%= approach %>
              </td>
            </tr>
            <tr>
              <td><b>Preferovaná část semestru</b></td>
              <td>
                <% let semester=''; switch(team.partOfSemester) { case 1: semester='1. - 3. týden' ; break; case 2:
                  semester='4. - 6. týden' ; break; case 3: semester='7. - 9. týden' ; break; case 3:
                  semester='10. - 13. týden' ; break; default: semester='Nedefinováno' ; break; } %>
                  <%= semester %>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="my_profile-button">
          <% if(!isAdmin && logged) { %>
            <% if(!userIsPartOfTeam) { %>
              <form action="../conn/<%= team.name %>" method="post">
                <button type="submit" class="my_profile-btn">Přidat se</button>
              </form>
            <% } if(userIsPartOfTeam) {%>
              <form action="../disconn/<%= team.name %>" method="post">
                <button type="submit" class="my_profile-btn-red">Opustit tým</button>
              </form>
            <% }
          } %>
          <% if(isAdmin) { %>
            <form action="../update" method="get">
              <button type="submit" class="my_profile-btn-red">Spravovat tým</button>
            </form>

            <form action="../delete/<%= team.name %>" method="post">
              <button type="submit" class="my_profile-btn-red">Smazat tým</button>
            </form>
            
          <% } %>
          
        </div>
      </div>
    </div>
  </div>

</body>

</html>