<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style/style-nav.css">
    <link rel="stylesheet" href="/style/main_page.css">
    <link rel="stylesheet" href="/style/team.css">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
</head>
<body>
<!--youtube.com/watch?v=8QKOaTYvYUA-->
    <header>
        <img src="/images/logo.png" alt="logo" class="logo" width="200" height="50">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
            <ul>
                <li><a href="index.html">Domů</a></li>
                <li><a href="#">Najít</a></li>
                <li><a href="registration.html">Účet</a>
                    <ul class="dropdown" id="dropdown">
                        <li><a class="dropdown_item" href="#">Můj účet</a></li>
                        <li><a class="dropdown_item" href="#">Moje týmy</a></li>
                        <li><a class="dropdown_item" href="#">Odhlásit se</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label"><span></span></label>
    </header>

    <!-- <div class="content">
      <div class="form-box">
        <div class="content_container">
            <h2 class="team-title">Informace o týmu</h2>
                <table class="content-table">
                    <tbody>
                        <tr>
                          <td><b>Název týmu</b></td>
                          <td>Tým Honzy</td>
                        </tr>
                        <tr class="active-row">
                          <td><b>Cílový počet členů</b></td>
                          <td>5</td>
                        </tr>
                        <tr>
                          <td><b>Uživatelská jména členů</b></td>
                          <td>
                                <li class="loginLi">xlogin01</li>
                                <li class="loginLi">xplagiat01</li>
                                <li class="loginLi">xhonza02</li>
                                <li class="loginLi">xlubos54 </li>
                                <li class="loginLi">xlubos54</li>
                                <li class="loginLi">xlubos54</li>
                                <li class="loginLi">xlubos54</li>
                                <li class="loginLi">xlubos54</li>
                                <li class="loginLi">xlubos54</li>
                                <li class="loginLi">xlubos54</li>
                          </td>
                        </tr>
                        <tr>
                          <td><b>Kontakt na vedoucího týmu</b></td>
                          <td><a href="discord.com/kajagott/">Discord</a></td>
                        </tr>
                        <tr>
                          <td><b>Stručný popis</b></td>
                          <td>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. 
                            Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate
                          </td>
                        </tr>
                        <tr>
                          <td><b>Klíčová slova</b></td>
                          <td>C# C++ C</td>
                        </tr>
                        <tr>
                          <td><b>Preferovaná doba práce</b></td>
                          <td>pozdě do noci</td>
                        </tr>
                        <tr>
                          <td><b>Přístup k práci</b></td>
                          <td>individuální</td>
                        </tr>
                        <tr>
                          <td><b>Národnost</b></td>
                          <td>česká</td>
                        </tr>
                    </tbody>
                  </table>

                <div class="my_profile-button">
                    <button type="button" class="my_profile-btn">Přidat se</button>
                    <button type="button" class="my_profile-btn">Spravovat tým</button>
                    <button type="button" class="my_profile-btn-red">Opustit tým</button>
                </div>
          </div>
      </div>
  </div>
     -->

     <div class="content">
        <div class="content_container">
        <div class="form-box">
            <h2 class="team-title">Informace o týmu</h2>
                <table class="content-table">
                    <tbody>
                        <tr>
                          <td><b>Název týmu</b></td>
                          <td><%= team.name %></td>
                        </tr>
                        <tr class="active-row">
                          <td><b>Cílový počet členů</b></td>
                          <td><%= team.maxNumberOfMembers %></td>
                        </tr>
                        <tr>
                          <td><b>Uživatelská jména členů</b></td>
                          <td>
                                <li class="loginLi">xlogin01</li>
                                <li class="loginLi">xplagiat01</li>
                                <li class="loginLi">xhonza02</li>
                                <li class="loginLi">xlubos54 </li>
                                <li class="loginLi">xlubos54</li>
                          </td>
                        </tr>
                        <tr>
                          <td><b>Kontakt na vedoucího týmu</b></td>
                          <td><a href="discord.com/kajagott/">Discord</a></td>
                        </tr>
                        <tr>
                          <td><b>Stručný popis</b></td>
                          <td> <%= team.briefDescription %> </td>
                        </tr>
                        <tr>
                          <td><b>Klíčová slova</b></td>
                          <td><%= team.hashtags %></td>
                        </tr>
                        <tr>
                          <td><b>Preferovaná doba práce</b></td>
                          <td><%= team.workingHours %></td>
                        </tr>
                        <tr>
                          <td><b>Přístup k práci</b></td>
                          <td><%= team.approach %></td>
                        </tr>
                        <tr>
                          <td><b>Národnost</b></td>
                          <td>česká</td>
                        </tr>
                    </tbody>
                  </table>

                <div class="my_profile-button">
                    <button type="button" class="my_profile-btn">Přidat se</button>
                    <button type="button" class="my_profile-btn">Spravovat tým</button>
                    <button type="button" class="my_profile-btn-red">Opustit tým</button>
                </div>
          </div>
      </div>
  </div>

</body>
</html>