<!DOCTYPE html>
<html lang="cs">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/style/style-nav.css">
  <link rel="stylesheet" href="/style/main_page.css">
  <link rel="stylesheet" href="/style/team.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <% if(!userLogged) { %>
    <header>
      <img src="/images/logo.png" onclick=HomePage() alt="logo" class="logo" width="200" height="50">
      <input type="checkbox" id="nav-toggle" class="nav-toggle">
      <nav>
        <ul>
          <li><a href="/">Dom콢</a></li>
          <li><a href="/faculty">Naj칤t t칳m</a></li>
          <li><a href="/register">칔캜et</a></li>

        </ul>
      </nav>
      <label for="nav-toggle" class="nav-toggle-label"><span></span></label>

    </header>
    <% } if(userLogged) { %>
      <header>
        <img src="/images/logo.png" onclick=HomePage() alt="logo" class="logo" width="200" height="50">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
          <ul>
            <li><a href="/">Dom콢</a></li>
            <li><a href="/faculty">Naj칤t t칳m</a></li>
            <li><a href="/my_profile">칔캜et</a>
              <ul class="dropdown" id="dropdown">
                <li><a class="dropdown_item" href="/my_profile">M콢j 칰캜et</a></li>
                <li><a class="dropdown_item" href="/team/myTeams">Moje t칳my</a></li>
                <li><a class="dropdown_item" data-method="delete" href="/logout">Odhl치sit se</a></li>
              </ul>
            </li>
            <!-- NOTIFIKACNI LISTA START -->
            <li><a id="notif" href="#">Notifikace</a>
              <ul class="dropdown-news" id="dropdown-news">
                <form id="notifForm">
                  <button type="submit" class="clear-btn_index">Vy캜istit</button>
                </form>
                <%notification.forEach((notifi, index)=> {%>
                  <p class="dropdown_item-news">
                    <%= notifi.notification %>
                  </p>
                  <%})%>
              </ul>
            </li>
            <script>
              async function notification(event) {
                const response = await fetch("/notification/deleteAll", {
                  method: "POST",
                  redirect: 'follow',
                  headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                  },
                });
                if (response) {
                  let error = await response.json()
                  alert(error.message);
                }
                window.location.href = ''
              }

              const notifiForm = document.querySelector('#notifForm');
              notifiForm.addEventListener('submit', notification);
            </script>
            <!-- NOTIFIKACNI LISTA END -->
          </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label"><span></span></label>

        <!-- NOTIFIKACNI LISTA START (mobilni) -->
        <input type="checkbox" id="nav-toggle_notify" class="nav-toggle_notify">
        <label for="nav-toggle_notify" class="nav-toggle-label_notify"><span>游댒</span></label>
        <nav class="nav_notify">
          <ul class="dropdown-news" id="dropdown-news">
            <a id="notif" href="#"></a>
            <form id="notifFormMobil">
              <button type="submit" class="clear-btn_index">Vy캜istit</button>
            </form>
            <%notification.forEach((notifi, index)=> {%>
              <p class="dropdown_item-news">
                <%= notifi.notification %>
              </p>
              <%})%>
          </ul>
        </nav>
        <script>
          async function notification(event) {
            const response = await fetch("/notification/deleteAll", {
              method: "POST",
              redirect: 'follow',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
            });
            if (response) {
              let error = await response.json()
              alert(error.message);
            }
            window.location.href = ''
          }

          const notifiFormMobile = document.querySelector('#notifFormMobil');
          notifiFormMobile.addEventListener('submit', notification);
        </script>
        <!-- NOTIFIKACNI LISTA END (mobilni) -->
      </header>
      <% } %>

      <div class="content">
        <div class="content_container">
          <div class="form-box">
            <h2 class="team-title">Informace o t칳mu</h2>
            <table class="content-table">
              <tbody>
                <tr>
                  <td><b>N치zev t칳mu</b></td>
                  <td>
                    <%= team.name %>
                  </td>
                </tr>
                <tr class="active-row">
                  <td><b>C칤lov칳 po캜et 캜len콢</b></td>
                  <td>
                    <%= team.maxNumberOfMembers %>
                  </td>
                </tr>
                <tr>
                  <td><b>U쬴vatelsk치 jm칠na 캜len콢</b></td>
                  <td>
                    <% teamMembers.forEach((member, index)=> { %>
                      <li class="loginLi">
                        <a href="/user/<%=member.email%>">
                          <%= member.login %>
                        </a>
                      </li>
                      <% }) %>
                  </td>
                </tr>
                <tr>
                  <td><b>Vedouc칤 t칳mu</b></td>
                  <td>
                    <%=teamAdmin.login%>
                  </td>
                </tr>
                <tr>
                  <td><b>Stru캜n칳 popis</b></td>
                  <td>
                    <%= team.briefDescription %>
                  </td>
                </tr>
                <tr>
                  <td><b>Kl칤캜ov치 slova</b></td>
                  <td>
                    <%= team.hashtags %>
                  </td>
                </tr>
                <tr>
                  <td><b>Preferovan치 doba pr치ce</b></td>
                  <td>
                    <% let hours='' ; switch(team.workingHours) { case 1: hours='brzy r치no' ; break; case 2:
                      hours='dlouho do noci' ; break; case 3: hours='b캩hem dne' ; break; default: hours='Nedefinov치no'
                      ; break; } %>
                      <%= hours %>
                  </td>
                </tr>
                <tr>
                  <td><b>Preferovan칠 dny pr치ce</b></td>
                  <td>
                    <% let days='' ; switch(team.workingDays) { case 1: days='za캜치tek t칳dne' ; break; case 2:
                      days='konec t칳dne' ; break; case 3: days='v칤kend' ; break; default: days='Nedefinov치no' ; break;
                      } %>
                      <%= days %>
                  </td>
                </tr>
                <tr>
                  <td><b>P콏칤stup k pr치ci</b></td>
                  <td>
                    <% let approach='' ; switch(team.approach) { case 1: approach='t칳mov칳' ; break; case 2:
                      approach='individu치ln칤' ; break; default: approach='Nedefinov치no' ; break; } %>
                      <%= approach %>
                  </td>
                </tr>
                <tr>
                  <td><b>Preferovan치 캜치st semestru</b></td>
                  <td>
                    <% let semester='' ; switch(team.partOfSemester) { case 1: semester='1. - 3. t칳den' ; break; case
                      2: semester='4. - 6. t칳den' ; break; case 3: semester='7. - 9. t칳den' ; break; case 4:
                      semester='10. - 13. t칳den' ; break; default: semester='Nedefinov치no' ; break; } %>
                      <%= semester %>
                  </td>
                </tr>
              </tbody>
            </table>

            <div class="my_profile-button">
              <% if(!isAdmin && logged) { %>
                <% if(!userIsPartOfTeam) { %>
                  <form id="connect">
                    <button type="submit" class="my_profile-btn">P콏idat se</button>
                  </form>
                  <% } if(userIsPartOfTeam) {%>
                    <form id="disconnect">
                      <button type="submit" class="my_profile-btn-red">Opustit t칳m</button>
                    </form>
                    <% } } %>
                      <% if(isAdmin) { %>
                        <form id="update">
                          <button type="submit" class="my_profile-btn">Spravovat t칳m</button>
                        </form>

                        <form id="delete">
                          <button type="submit" class="my_profile-btn-red">Smazat t칳m</button>
                        </form>

                        <% } %>

            </div>
          </div>
        </div>
      </div>

</body>
<!-- DISCONNECT -->
<script>
async function disconnect(event) {
  const response = await fetch("../disconn/<%= team.name %>", {
    method: "POST",
    redirect: 'follow',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
  });
  if (response) {
    //let error = await response.json()
    //alert(error.message);
    window.location.href = ''
  }
}

var form1 = document.querySelector('#disconnect');
if (form1)
  form1.addEventListener('submit', disconnect);
</script>

<!-- CONNECT -->
<script>
async function connect(event) {
  const response = await fetch("../conn/<%= team.name %>", {
    method: "POST",
    redirect: 'follow',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    }
  });
  if (response) {
    //let error = await response.json()
    //alert(error.message);
    window.location.href = ''
  }
}
var form2 = document.querySelector('#connect');
if (form2)
  form2.addEventListener('submit', connect);
</script>

<!-- DELETE TEAM -->
<script>
async function deleteTeam(event) {
  const response = await fetch("../delete/<%= team.name %>", {
    method: "POST",
  });
  if (response) {
    // get path elements
    let myPath = window.location.href.split('/')
    // remove last 3 elements from path
    myPath.splice(-3)
    // add subject to the end of path
    await myPath.push('<%=subject%>')
    myPath = myPath.join('/')
    window.location.href = myPath
    let error = await response.json()
    alert(error.message)
  }
}

var form3 = document.querySelector('#delete');
if (form3)
  form3.addEventListener('submit', deleteTeam);
</script>

<!-- UPDATE TEAM -->
<script>
async function updateTeam(event) {
  const response = await fetch("../form/update/<%=team.name%>", {
    method: "GET",
    redirect: 'follow',
  });
  if (response) {
    window.location.href = response.url
  }

}
var form4 = document.querySelector('#update');
if (form4)
  form4.addEventListener('submit', updateTeam);
</script>

<script src="/script/app.js"></script>

</html>