<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="/style/style-nav.css">
    <link rel="stylesheet" href="/style/main_page.css">
    <link rel="stylesheet" href="/style/team_info_edit.css">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
</head>
<body>
  <% if(!userLogged) { %>
    <header>
      <img src="/images/logo.png" onclick=HomePage() alt="logo" class="logo" width="200" height="50">
      <input type="checkbox" id="nav-toggle" class="nav-toggle">
      <nav>
        <ul>
          <li><a href="/">Dom콢</a></li>
          <li><a href="/faculty">Naj칤t t칳m</a></li>
          <li><a href="/register">칔캜et</a></li>

        </ul>
      </nav>
      <label for="nav-toggle" class="nav-toggle-label"><span></span></label>

    </header>
    <% } if(userLogged) { %>
      <header>
        <img src="/images/logo.png" onclick=HomePage() alt="logo" class="logo" width="200" height="50">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
          <ul>
            <li><a href="/">Dom콢</a></li>
            <li><a href="/faculty">Naj칤t t칳m</a></li>
            <li><a href="/my_profile">칔캜et</a>
              <ul class="dropdown" id="dropdown">
                <li><a class="dropdown_item" href="/my_profile">M콢j 칰캜et</a></li>
                <li><a class="dropdown_item" href="/team/myTeams">Moje t칳my</a></li>
                <li><a class="dropdown_item" data-method="delete" href="/logout">Odhl치sit se</a></li>
              </ul>
            </li>
            <!-- NOTIFIKACNI LISTA START -->
            <li><a id="notif" href="#">Notifikace</a>
              <ul class="dropdown-news" id="dropdown-news">
                <form id="notifForm">
                  <button type="submit" class="clear-btn_index">Vy캜istit</button>
                </form>
                <%notification.forEach((notifi, index)=> {%>
                  <p class="dropdown_item-news">
                    <%= notifi.notification %>
                  </p>
                  <%})%>
              </ul>
            </li>
            <script>
              async function notification(event) {
                const response = await fetch("/notification/deleteAll", {
                  method: "POST",
                  redirect: 'follow',
                  headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                  },
                });
                if (response) {
                  let error = await response.json()
                  alert(error.message);
                }
                window.location.href = ''
              }

              const notifiForm = document.querySelector('#notifForm');
              notifiForm.addEventListener('submit', notification);
            </script>
            <!-- NOTIFIKACNI LISTA END -->
          </ul>
        </nav>
        <label for="nav-toggle" class="nav-toggle-label"><span></span></label>

        <!-- NOTIFIKACNI LISTA START (mobilni) -->
        <input type="checkbox" id="nav-toggle_notify" class="nav-toggle_notify">
        <label for="nav-toggle_notify" class="nav-toggle-label_notify"><span>游댒</span></label>
        <nav class="nav_notify">
          <ul class="dropdown-news" id="dropdown-news">
            <a id="notif" href="#"></a>
            <form id="notifFormMobil">
              <button type="submit" class="clear-btn_index">Vy캜istit</button>
            </form>
            <%notification.forEach((notifi, index)=> {%>
              <p class="dropdown_item-news">
                <%= notifi.notification %>
              </p>
              <%})%>
          </ul>
        </nav>
        <script>
          async function notification(event) {
            const response = await fetch("/notification/deleteAll", {
              method: "POST",
              redirect: 'follow',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
            });
            if (response) {
              let error = await response.json()
              alert(error.message);
            }
            window.location.href = ''
          }

          const notifiFormMobile = document.querySelector('#notifFormMobil');
          notifiFormMobile.addEventListener('submit', notification);
        </script>
        <!-- NOTIFIKACNI LISTA END (mobilni) -->
      </header>
      <% } %>

      <div class="content">
        <div class="content_container">
          <div class="form-box">
            <h2 class="nadpis">Aktualizace t칳mu</h2>
            <form id="edit" class="input-group">
              <input type="number" class="input-field" name="maxNumOfMem" autocomplete="off"
                placeholder="C칤lov칳 po캜et 캜len콢">
              <input type="text" class="input-field" name="briefDescription " placeholder="Stru캜n칳 popis">
              <input type="textarea" class="input-field" name="hashtags" placeholder="Kl칤캜ov치 slova">
              <div class="select">
                <select name="workingHours" class="selOptions">
                  <option value="" disabled selected hidden>Preferovan치 doba pr치ce</option>
                  <option value="1">brzy r치no</option>
                  <option value="2">dlouho do noci</option>
                  <option value="3">b캩hem dne</option>
                </select>
                <select name="workingDays" class="selOptions">
                  <option value="" disabled selected hidden>Preferovan칠 dny pr치ce</option>
                  <option value="1">za캜치tek t칳dne</option>
                  <option value="2">konec t칳dne</option>
                  <option value="3">v칤kend</option>
                </select>
                <select name="approach" class="selOptions">
                  <option value="" disabled selected hidden>P콏칤stup k pr치ci</option>
                  <option value="1">t칳mov칳</option>
                  <option value="2">individu치ln칤</option>
                </select>
                <select name="partOfSemester" class="selOptions">
                  <option value="" disabled selected hidden>Preferovan치 캜치st semestru</option>
                  <option value="1">1. - 3. t칳den</option>
                  <option value="2">4. - 6. t칳den</option>
                  <option value="3">7. - 9. t칳den</option>
                  <option value="4">10. - 13. t칳den</option>
                </select>
              </div>
              <div class="my_profile-button">
                <button type="submit" class="my_profile-btn">Ulo쬴t zm캩ny</button>
              </div>
            </form>
            <% teamMembersLogin.forEach((member, index)=> { %>
              <form id="<%=member.login%>">
                <input type="text" name="memberEmail" value="<%=member.email%>" hidden />
                <button type="submit" class="my_profile-btn-red">Odebrat <%=member.login%> </button>
              </form>
              <script>
                async function kickUser(event) {
                  event.preventDefault();
                  const data = new FormData(event.target);
                  const value = JSON.stringify(Object.fromEntries(data))
                  console.log(value);
                  const response = await fetch("../../kickMember/<%=team.name%>", {
                    method: "POST",
                    redirect: 'follow',
                    headers: {
                      'Accept': 'application/json',
                      'Content-Type': 'application/json'
                    },
                    body: value
                  });
                  let error = await response.json()
                  alert(error.message);
                  window.location.href = '../../info/<%=team.name%>'
                }
                const form2 = document.querySelector('#<%=member.login%>');
                form2.addEventListener('submit', kickUser);
              </script>
              <% }) %>
          </div>
        </div>
      </div>


</body>
<script>
async function fetchLocation(event) {
  event.preventDefault();
  const data = new FormData(event.target);
  const value = JSON.stringify(Object.fromEntries(data))
  console.log(value);
  const response = await fetch("../../update/<%=team.id%>", {
    method: "POST",
    redirect: 'follow',
    headers: {
      'Accept': 'application/json',
      'Content-Type': 'application/json'
    },
    body: value
  });
  //let error = await response.json()
  //alert(error.message);
  window.location.href = '../../info/<%=team.name%>'
}
const form1 = document.querySelector('#edit');
form1.addEventListener('submit', fetchLocation);
</script>


<script src="/script/app.js"></script>

</html>