<!DOCTYPE html>
<html lang="cs">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../style/style-nav.css">
  <link rel="stylesheet" href="../style/main_page.css">
  <link rel="stylesheet" href="../style/my_profile.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<!-------------------------- NAVIGACE -------------------------------->

<body>
  <% if(!userLogged) { %>
    <header>
      <img src="/images/logo.png" onclick=HomePage() alt="logo" class="logo" width="200" height="50">
      <input type="checkbox" id="nav-toggle" class="nav-toggle">
      <nav>
        <ul>
          <li><a href="/">Dom콢</a></li>
          <li><a href="/faculty">Naj칤t t칳m</a></li>
          <li><a href="/register">칔캜et</a></li>
        </ul>
      </nav>
      <label for="nav-toggle" class="nav-toggle-label"><span></span></label>
    </header>

    <% } if(userLogged) { %>
      <header>
        <img src="/images/logo.png" onclick=HomePage() alt="logo" class="logo" width="200" height="50">
        <input type="checkbox" id="nav-toggle" class="nav-toggle">
        <nav>
          <ul>
            <li><a href="/">Dom콢</a></li>
            <li><a href="/subject/<%=userFaculty%>">Naj칤t t칳m</a></li>
            <li><a href="/my_profile">칔캜et</a>
              <ul class="dropdown" id="dropdown">
                <li><a class="dropdown_item" href="/my_profile">M콢j 칰캜et</a></li>
                <li><a class="dropdown_item" href="/team/myTeams">Moje t칳my</a></li>
                <li><a class="dropdown_item" data-method="delete" href="/logout">Odhl치sit se</a></li>
              </ul>
            </li>

            <!-- NOTIFIKACNI LISTA START -->
            <li><a id="notif" href="#">Notifikace</a>
              <ul class="dropdown-news" id="dropdown-news">
                <form id="notifForm">
                  <button type="submit" class="clear-btn_index">Vy캜istit</button>
                </form>
                <%notification.forEach((notifi, index)=> {%>
                  <p class="dropdown_item-news dropdown_item-time">
                    <%= notifi.createdAt %>
                  </p>
                  <p class="dropdown_item-news">
                    <%= notifi.notification %>
                  </p>
                  <%})%>
              </ul>
            </li>

            <script>
              async function notification(event) {
                const response = await fetch("/notification/deleteAll", {
                  method: "POST",
                  redirect: 'follow',
                  headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                  },
                });
                if (response) {
                  let error = await response.json()
                  alert(error.message);
                }
                window.location.href = ''
              }

              const notifiForm = document.querySelector('#notifForm');
              notifiForm.addEventListener('submit', notification);
            </script>
            <!-- NOTIFIKACNI LISTA END -->
          </ul>
        </nav>


        <label for="nav-toggle" class="nav-toggle-label"><span></span></label>
        <!-- NOTIFIKACNI LISTA START (mobilni) -->
        <input type="checkbox" id="nav-toggle_notify" class="nav-toggle_notify">
        <label for="nav-toggle_notify" class="nav-toggle-label_notify"><span>游댒</span></label>
        <nav class="nav_notify">
          <ul class="dropdown-news" id="dropdown-news">
            <a id="notif" href="#"></a>
            <form id="notifFormMobil">
              <button type="submit" class="clear-btn_index">Vy캜istit</button>
            </form>
            <%notification.forEach((notifi, index)=> {%>
              <p class="dropdown_item-news dropdown_item-time">
                <%= notifi.createdAt %>
              </p>
              <p class="dropdown_item-news">
                <%= notifi.notification %>
              </p>
              <%})%>
          </ul>
        </nav>

        <script>
          async function notification(event) {
            const response = await fetch("/notification/deleteAll", {
              method: "POST",
              redirect: 'follow',
              headers: {
                'Accept': 'application/json',
                'Content-Type': 'application/json'
              },
            });
            if (response) {
              let error = await response.json()
              alert(error.message);
            }
            window.location.href = ''
          }
          const notifiFormMobile = document.querySelector('#notifFormMobil');
          notifiFormMobile.addEventListener('submit', notification);
        </script>
        <!-- NOTIFIKACNI LISTA END (mobilni) -->
      </header>
      <% } %>
        <!-------------------------- KONEC NAVIGACE -------------------------------->

        <div class="content">
          <div class="form-box">
            <div class="content_container">
              <div class="wrapper">
                <h2 class="my_profile-title">M콢j 칰캜et</h2>
                <table class="content-table">
                  <tbody>
                    <tr>
                      <td><b>Login</b></td>
                      <td>
                        <%=user.login%>
                      </td>
                    </tr>
                    <tr class="active-row">
                      <td><b>E-mail</b></td>
                      <td>
                        <%=user.email%>
                      </td>
                    </tr>
                    <tr>
                      <td><b>Ro캜n칤k</b></td>
                      <td>
                        <%=user.yearOfStudy%>
                      </td>
                    </tr>
                    <tr>
                      <td><b>Fakulta</b></td>
                      <td>
                        <%=faculty.short%>
                      </td>
                    </tr>
                    <tr>
                      <td><b>Kontakt</b></td>
                      <td>
                        <%=user.communicationChannel%>
                      </td>
                    </tr>
                    <tr>
                      <td><b>Preferovan치 doba pr치ce</b></td>
                      <td>
                        <% let hours='' ; switch(user.workingHours) { case 1: hours='brzy r치no' ; break; case 2:
                          hours='dlouho do noci' ; break; case 3: hours='b캩hem dne' ; break; default:
                          hours='Nedefinov치no' ; break; } %>
                          <%= hours %>
                      </td>
                    </tr>
                    <tr>
                      <td><b>Preferovan칠 dny pro pr치ci</b></td>
                      <td>
                        <% let days='' ; switch(user.workingDays) { case 1: days='za캜치tek t칳dne' ; break; case 2:
                          days='konec t칳dne' ; break; case 3: days='v칤kend' ; break; default: days='Nedefinov치no' ;
                          break; } %>
                          <%= days %>
                      </td>
                    </tr>
                    <tr>
                      <td><b>P콏칤stup k pr치ci</b></td>
                      <td>
                        <% let approach='' ; switch(user.approach) { case 1: approach='t칳mov칳' ; break; case 2:
                          approach='individu치ln칤' ; break; default: approach='Nedefinov치no' ; break; } %>
                          <%= approach %>
                      </td>
                    </tr>

                  </tbody>
                </table>
                <% if(myProfile) { %>
                  <div class="my_profile-button">
                    <form method="get" action="/user/form/update">
                      <button type="submit" class="my_profile-btn">Upravit profil</button>
                    </form>

                    <form action="/user/form/resetPass" method="get">
                      <button type="submit" class="my_profile-btn">Zm캩nit heslo</button>
                    </form>

                    <form id="deleteUserForm">
                      <input type="email" class="input-field" name="email" value='<%=user.email%>' hidden>
                      <button type="submit" class="my_profile-btn-red">Smazat 칰캜et</button>
                    </form>
                    <script>
                      async function deleteUser(event) {
                        var answer = window.confirm('Opravdu smazat 칰캜et?')
                        if (!answer) return window.location.href = '/'
                        
                        event.preventDefault();
                        const data = new FormData(event.target);
                        const value = JSON.stringify(Object.fromEntries(data))

                        const response = await fetch("/user/delete", {
                          method: "POST",
                          redirect: 'follow',
                          headers: {
                            'Accept': 'application/json',
                            'Content-Type': 'application/json'
                          },
                          body: value
                        });
                        if (response) {
                          window.location.href = '/'
                          let error = await response.json()
                          alert(error.message);
                        }
                      }

                      const form = document.querySelector('#deleteUserForm');
                      form.addEventListener('submit', deleteUser);
                    </script>
                  </div>
                  <% } %>
              </div>
            </div>
          </div>
        </div>
</body>

<script src="/script/app.js"></script>

</html>