<!DOCTYPE html>
<html lang="cs">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="../style/style-nav.css">
  <link rel="stylesheet" href="../style/main_page.css">
  <link rel="stylesheet" href="../style/my_profile.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  
  <script src="/script/nav.js"></script>

  <!-- <div class="content">
        <div class="content_container">
          </div>
           <div class="wrapper">
                <h2>Můj účet</h2>
                <table class="content-table">
                    <tbody>
                      <tr>
                        <td><b>Uživatelské jméno</b></td>
                        <td>kaja</td>
                      </tr>
                      <tr class="active-row">
                        <td><b>E-mail</b></td>
                        <td>kaja@centrum.cz</td>
                      </tr>
                      <tr>
                        <td><b>Ročník</b></td>
                        <td>2.</td>
                      </tr>
                      <tr>
                        <td><b>Fakulta</b></td>
                        <td>FIT</td>
                      </tr>
                      <tr>
                        <td><b>Kontakt</b></td>
                        <td><a href="discord.com/kajagott/">Discord</a></td>
                      </tr>
                      <tr>
                        <td><b>Preferovaná doba práce</b></td>
                        <td>pozdě do noci</td>
                      </tr>
                      <tr>
                        <td><b>Přístup k práci</b></td>
                        <td>individuální</td>
                      </tr>
                      <tr>
                        <td><b>Národnost</b></td>
                        <td>česká</td>
                      </tr>
                    </tbody>
                  </table>
                <div class="my_profile-button">
                    <button type="button" class="my_profile-btn"><b>Upravit profil</b></button>
                    <button type="button" class="my_profile-btn"><b>Změnit heslo</b></button>
                </div>
           </div> 
        </div>
    </div> -->

  <div class="content">
    <div class="form-box">
      <div class="content_container">
        <div class="wrapper">
          <h2 class="my_profile-title">Můj účet</h2>
          <table class="content-table">
            <tbody>
              <tr>
                <td><b>Uživatelské jméno</b></td>
                <td>
                  <%=user.login%>
                </td>
              </tr>
              <tr class="active-row">
                <td><b>E-mail</b></td>
                <td>
                  <%=user.email%>
                </td>
              </tr>
              <tr>
                <td><b>Ročník</b></td>
                <td>
                  <%=user.yearOfStudy%>
                </td>
              </tr>
              <tr>
                <td><b>Fakulta</b></td>
                <td>
                  <%=faculty.short%>
                </td>
              </tr>
              <tr>
                <td><b>Kontakt</b></td>
                <td><%=user.communicationChannel%></td>
              </tr>
              <tr>
                <td><b>Preferovaná doba práce</b></td>
                <td> <%=user.workingHours%></td>
              </tr>
              <tr>
                <td><b>Přístup k práci</b></td>
                <td> <%=user.approach%></td>
              </tr>
              <tr>
                <td><b>Preferované dny pro práci</b></td>
                <td><%=user.workingDays%></td>
              </tr>
            </tbody>
          </table>
          <div class="my_profile-button">
            <button type="button" class="my_profile-btn">Upravit profil</button>
            <button type="button" class="my_profile-btn">Změnit heslo</button>
            <form method="post" action="/user/delete">
              <input type="email" class="input-field" name="email" value='<%=user.email%>' hidden >
              <button type="submit" class="my_profile-btn">Smazat účet</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>


</body>

</html>